.container{
  position: absolute;
  top: 800px;
  width: 25%;
  background-color: white;
}

.container::before {
  content: "";
  position: absolute;
  top: -8px; 
  left: -8px;
  right: -8px;
  bottom: -8px;
  background-image: radial-gradient(white 30%, transparent 30%);
  background-size: 12px 12px; 
  background-position: center;
  border: 8px solid black; 
  z-index: -1;
}

.inputContainer{
  display: flex;
  height: 70px;
}

.image {
  flex: 1;
  height: 100%;
}

.textContainer {
  flex: 5;
  height: 100%;
}

.text {
  height: 100%;
}